@model ExamQuestions

<form method = "post">
    <div id="1">@Model.Question</div>
    <div id="1">@Model.Option1</div>
    <div id="1">@Model.Option2</div>
    <div id="1">@Model.Option3</div>
    <div id="1">@Model.Option4</div>
</form>